<div>
  <app-navbar></app-navbar>

  <!-- Page Layout here -->
  <div class="row">
    <div class="col s9">
      <!-- Grey navigation panel -->
      <select (change)="selectCountry($event)">
        <option value="worldwide">World Wide</option>
        <option
          *ngFor="let country of allCountries"
          value="{{ country.code }}"
          >{{ country.country }}</option
        >
      </select>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>

    <div class="col s3">
      <!-- Teal page content  -->
    </div>
  </div>
</div>
